<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508865122174-rknv5j2t557v9d8iqtm3pq1a6aa43upu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508865122174-rknv5j2t557v9d8iqtm3pq1a6aa43upu</string>
	<key>API_KEY</key>
	<string>AIzaSyC1rVr4gBHCQYGH3ff87pAYZ9Q-yWJgvSM</string>
	<key>GCM_SENDER_ID</key>
	<string>508865122174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vineeth.SwiftUI-GoogleSign</string>
	<key>PROJECT_ID</key>
	<string>demoproject-924ab</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-924ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508865122174:ios:6341f80c8a8806a698ad2f</string>
</dict>
</plist>